/*RESET*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Default styles*/

body
{
    font: 12px "Lucida Grande", Tahoma, Arial, Helvetica, sans-serif;
    width: 800px;
    background-color:#fff;
    color:#333
}

.header
{
    clear: both;
    background-color: #333;
    padding: 8px;
}

h1
{
    font-size: 150%;
    font-weight: bold;
    padding: 0;
    margin: 1em 0 0 .3em;

}

hr
{
    border: none 0;
    border-top: 2px groove #333;
    height: 1px;
}

pre.code
{
    display: block;
    padding: 8px;
    border: 1px dashed #ccc;
}

#index
{
    margin-top: 24px;
    float: left;
    width: 160px;
    position: absolute;
    left: 8px;
    background-color: #efefef;
    padding: 8px;
}

#index a:hover,
#index a:visited,
#index a:active,
#index a
{
    color:#1b1d1e;
    text-decoration:none;
}

#index a:hover
{
    text-decoration: underline;
}

#content
{
    margin-left: 190px;
    width: 600px;
}

.classList
{
    list-style-type: none;
    padding: 0;
    margin: 0 0 0 8px;
    font-family: "Lucida Grande", arial, sans-serif;
    font-size: 1em;
    overflow: auto;
}

.classList li
{
    padding: 0;
    margin: 0 0 4px 0;
}

.summaryTable { width: 100%; }

h1.classTitle
{
    font-size:170%;
    line-height:130%;
    color:#333;
}

h2 { font-size: 110%; }
caption, div.sectionTitle
{
    background-color: #efefef;
    color: red;
    font-size:150%;
    text-align: left;
    padding: 10px 6px 0px 0px;
    margin-bottom:20px;
    border-bottom: 1px solid #333;
    font-weight:bold;
}

div.sectionTitle { margin-bottom: 20px; }
.summaryTable thead { display: none; }

.summaryTable td
{
    vertical-align: top;
    padding: 5px 0px 5px 0px;
    /*border-bottom: 1px #7F8FB1 solid;*/
    /*border-right: 1px #7F8FB1 solid;*/
}

/*col#summaryAttributes {}*/
.summaryTable td.attributes
{
    /*border-left: 1px #7F8FB1 solid;*/
    width: 140px;
    text-align: right;
}

td.attributes, .fixedFont
{
    line-height: 15px;
    color: #333;
    font-family: "Courier New",Courier,monospace;
    font-size: 13px;
}

.summaryTable td.nameDescription
{
    text-align: left;
    font-size: 13px;
    line-height: 15px;
}

.summaryTable td.nameDescription, .description
{
    line-height: 15px;
    padding: 4px;
    padding-left: 4px;
}

.summaryTable { margin-bottom: 8px; }

ul.inheritsList
{
    list-style: square;
    margin-left: 20px;
    padding-left: 0;
}

.detailList {
    margin-left: 20px;
    line-height: 15px;
}
.detailList dt { margin-left: 20px; }

.detailList .heading
{
    font-weight: bold;
    padding-bottom: 6px;
    margin-left: 0;
}

.light, td.attributes, .light a:link, .light a:visited
{
    color: #777;
    font-style: italic;
}

.fineprint
{
    text-align: right;
    font-size: 10px;
}
